body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container1 {
    border: 1px solid black;
    height: 300px;
    width: 100%;
    background-color: powderblue;
}
.container2 {
    border: 1px solid black;
    font-family: 'Archivo Narrow', sans-serif;
    width: 100%;
    background-color: skyblue;
}

#timeAndDist {
    padding-top: 10px;
    font-size: 60px;
    font-weight: bold;
}

.container3 {
    border: 1px solid black;
    width: 100%;
    background-color: rgba(123, 158, 211, 0.597);
}
form, tr {
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Archivo Narrow', sans-serif;
}

.card-title {
    margin-left: 20px;
    font-weight: bold;
}
